/*li {
    list-style: none;  /* Скрываем маркеры списка
}
*/



li {
    list-style: none; /* Скрываем маркеры списка */
    padding-left: 0vw;
    position: relative;
    margin-top: 5vw;

}

li.pagemenu::before {
   /* content: '\25ba'; */
   /* content: '>' */
  /*  content: '\u1433';*/
 /*   content: '\3E';*/
    font-size: 7vw;
    position: absolute; top: 0; left: 0;
}

li.mainmenu:hover::before{
   /*  content: '\25bc'; */
    -webkit-transform: rotate(90deg);
    font-size: 7vw;
}

.decimal {
    list-style-type: decimal;
    text-align: left;
}
.classtable {
    width: 100%; /* Ширина таблицы */
    position: relative;
    top: 2px;
    border-spacing: 1px; /* Расстояние между ячейками */
    }
td,th {
    padding: 3px; /* Поля вокруг текста */
    text-align: left;
    }

.stripy{
    -moz-binding: url(bindings.xml#table);
    }

.stripy tr{
    behavior: url(stripy.htc);
    -moz-binding: url(bindings.xml#stripy.htc);
    background-image: url("javascript:function makeStripy(tabClass){var tabs=document.getElementsByTagName('table');for (var e=0;e<tabs.length;e++) if (tabs[e].className==tabClass){var rows=tabs[e].getElementsByTagName('tr');for (var i=0;i<rows.length;i++) rows[i].className+=((i % 2)==0?' oddrows':' evenrows');}} if(window.opera) makeStripy('stripy');");
    }

.stripy tr:nth-child(2n+1){
    color:#3333FF;
    }

.stripy tr:nth-child(2n){
    color: #000000;
    }

.stripy .oddrows{
    color:#3333FF;
    }

.stripy .evenrows{
    color: #000000;
    }

#manager{
    margin-bottom: 20px;
}
#manager td{
    padding: 3px; /* Поля вокруг текста */
    text-align: left;
}
.manager_td1{
    width : 15%;
    text-align :left;
    }
.manager_td2{
    width : 15%;
    }
.manager_td3{
    width : 25%;
    }
.manager_td4{
    width : 25%;
    text-align :left;
    }
.manager_td5{
    width : 20%;
    }

p {
    text-align: left; /* Выравнивание по ширине */
    }

.border
{
 /* border: 2px solid #8c8c8c; */

}

.all {
    width: 96%;
    padding-left: 2%;
}

.header{
    /*padding: auto;*/
    width: 100%;
    margin: 3px;
    }

.leftheader{
    width: 100%;
    margin: 3px;
}

.redHeader
{
    background-color: red;
    color: white;
    text-align: left;
    vertical-align: middle;
    line-height: 2;
    padding-left: 19px;
}

.blueText
{
    color: #3333CC ;
    font-weight: bolder;
}

.redText
{
    color: red ;
    font-weight: bolder;
}
.violetText
{
    color: #59267C ;
    font-weight: bolder;
}

.greenText
{
    color: green ;
    font-weight: bolder;
}
.header_img{
    width:49%;
    height:100%;
}

.automafia_sprut_header {
    width: 50%;
    margin-left:25%;
}
.left-block
{
    padding-right: 30px;
}

.tableRaspisanie
{
    width: 350px;
    color: green ;
    font-weight: bold;
}

.tdLeft{
    text-align: right;
    padding-right: 4%;
}

.tdRight{
    text-align: left;
    margin-left: 4%;
}

.blockMargineLeft5
{
    margin-left:5%;
    width: inherit;
}

.content{

}

.footer{

}

.submenu{
    display: none;
}

.submenu a {
    display: block;
}

.mainmenu:hover .submenu {
    display: block;
}

.imgright{
    width: 100%;
}

.centerAlign
{
    text-align: center;
}

.bolder
{
    font-weight: bold;
}
.lagbtn
{
    width: 80%;
    text-align: center;
    vertical-align: middle;
    border-radius: 1vw;
    margin-bottom: 2vh;
    margin-top:0vh;
    margin-left: 10%;
    height: 10vw;
    font-size: 4vw;
    color: rgb(51, 122, 183);
    border-color: white;
    background-color: white;
   }
.lagbtn:hover{
  /*  color: rgb(46, 109, 164);*/
    border-color: rgb(46, 109, 164);
    color: rgb(183, 60, 68);
    background-color: #9acfea;
}

.smallbtn
{
    border-radius: 1vw;
    margin-bottom: 2vh;
    margin-top:0vh;
    height: 10vw;
    width: 15vw;
    font-size: 4vw;
   color: rgb(51, 122, 183);
    border-color: white;
    background-color: white;
}
.smallbtn:hover{
    color: rgb(46, 109, 164);
    border-color: rgb(46, 109, 164);
    background-color: #9acfea;
}

.h1smart {
    font-size: 8vw;
}
.h2smart {
    font-size: 7vw;
}
.h3smart {
    font-size: 6vw;
}
.h4smart {
    font-size: 5vw;
}
.h5smart {
    font-size: 4vw;
}
.h6smart {
    font-size: 3vw;
}
.h7smart {
    font-size: 2vw;
}


/*поведения и структура при экране менее 680 пикселей*/

.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 2vw;
    padding-top: 4vw;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    overflow: scroll;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    color: #666;
    background-color: #fff;
    position: fixed;
    padding: 1vw;
    top: 2vw;
    right: 0vw;
    cursor: pointer;
   transition: left .23s;
    z-index: 3;
    width: 10vw;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.btn-menu span {
    display: block;
    height: 1vw;
    background-color: #666;
    margin: 1vw 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
    right: 0%;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0%;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 2vw;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -2vw;
}

.left-symbol {
    width: 9%;
    float: left;
    margin-left: 0%;
    text-align: center;
    vertical-align: middle ;
}
.right-text {
    width: 80%;
    margin-right: 10%;
    float: right;
    text-align: justify;
}

.left-text {
     text-align: justify;
}
#footer-left {
    float: left;
    width: 60%;
    margin: 1vw;
}
#footer-right {
    float: right;
    width: 35%;
    padding-top: 5vw;
}
.inline {
   display: inline;
}
 .set-lng{
    higth: 3em;
}