.btn {
    margin: 1em;
    font-size: 1.6em;
    font-weight: 400;
}

.well {
    padding: 4px;
}

body {
    font-size: 1.6em;
}
h1 {
    font-size: 7.2em;
}

@media screen and (max-width: 480px) {
    .btn {
        margin: 1em;
        font-size: 3em;
        font-weight: 500;
	weight: 80%;	
    }
}
