li {
     list-style-type: none; /* Убираем маркеры */
    }
.decimal {
    list-style-type: decimal;
    text-align: justify;
}
.classtable {
    width: 100%; /* Ширина таблицы */
    position: relative;
    top: 2px;
    border-spacing: 1px; /* Расстояние между ячейками */
    }
td,th {
    padding: 3px; /* Поля вокруг текста */
    text-align: left;
    }

.stripy{
    -moz-binding: url(bindings.xml#table);
    }

.stripy tr{
    behavior: url(stripy.htc);
    -moz-binding: url(bindings.xml#stripy.htc);
    background-image: url("javascript:function makeStripy(tabClass){var tabs=document.getElementsByTagName('table');for (var e=0;e<tabs.length;e++) if (tabs[e].className==tabClass){var rows=tabs[e].getElementsByTagName('tr');for (var i=0;i<rows.length;i++) rows[i].className+=((i % 2)==0?' oddrows':' evenrows');}} if(window.opera) makeStripy('stripy');");
    }

.stripy tr:nth-child(2n+1){
    color:#3333FF;
    }

.stripy tr:nth-child(2n){
    color: #000000;
    }

.stripy .oddrows{
    color:#3333FF;
    }

.stripy .evenrows{
    color: #000000;
    }

#manager{
    margin-bottom: 20px;
}
#manager td{
    padding: 3px; /* Поля вокруг текста */
    text-align: left;
}
.manager_td1{
    width : 15%;
    text-align :left;
    }
.manager_td2{
    width : 15%;
    }
.manager_td3{
    width : 25%;
    }
.manager_td4{
    width : 25%;
    text-align :left;
    }
.manager_td5{
    width : 20%;
    }


p {
    text-align: justify; /* Выравнивание по ширине */
    }

.border
{
 /* border: 2px solid #8c8c8c; */

}

.leftcontent
{

}


.all{
    width: 1200px;
     }
.left{
     width: 30%;
     position: relative;
     float: left;
    }

.right{
     width: 70%;
     position: relative;
     float: right;
  /*   padding: auto; */
    }

.header{
    height: 250px;
    /*padding: auto;*/
    width: 100%;
    margin: 3px;
    }

.leftheader{
    width: 100%;
    margin: 3px;
}

.redHeader
{
    background-color: red;
    color: white;
    text-align: left;
    vertical-align: middle;
    line-height: 2;
    padding-left: 19px;
}

.blueText
{
    color: #3333CC ;
    font-weight: bolder;
}

.redText
{
    color: red ;
    font-weight: bolder;
}
.violetText
{
    color: #59267C ;
    font-weight: bolder;
}

.greenText
{
    color: green ;
    font-weight: bolder;
}
.header_img{
    width:49%;
    height:100%;
}


.left-block
{
    padding-right: 30px;
}

.tableRaspisanie
{
    width: 350px;
    color: green ;
    font-weight: bold;


}
.tdLeft{
    text-align: right;
    padding-right: 4%;

}
.tdRight{
    text-align: left;
    margin-left: 4%;

}


.blockMargineLeft5
{
    margin-left:5%;
    width: inherit;
}
.content{

}

.footer{

}

.submenu{
    display: none;
}

.submenu a {
    display: block;
}

.mainmenu:hover .submenu {
    display: block;
}

.imgright{
    width: 100%;
}

.centerAlign
{
    text-align: left;
}

.bolder
{
    font-weight: bold;
}
.lagbtn
{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 10% 0 ;
    height: 8em;
}